* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: white;
  --bg-url: url(./assets/bg-desktop.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(0, 0, 0);
  --highlight-color: rgba(0, 0, 0);
  --switch-bg-url: url(./assets/moon-stars.svg);
}

.light {
  --text-color: black;
  --bg-url: url(./assets/bg-desktop-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(197, 196, 196, 0.05);
  --surface-color-hover: rgb(255, 255, 255);
  --highlight-color: rgb(255, 255, 255, 0.5);
  --switch-bg-url: url(./assets/sun.svg);
}

body {
  /*
  background-image: url(./assets/bg-desktop.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover; */

  background: var(--bg-url) no-repeat top center/cover;
}

body * {
  font-family: "Roboto Mono", monospace;
  color: var(--text-color);
}

#container {
  /* height: 900px; */
  /*margin-right: auto;
  margin-left: auto; */
  width: 100%;
  max-width: 388px;
  margin: 56px auto 0px;
  padding: 0 24px;
}

#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 150px;
}

#profile p {
  font-weight: 500;
  line-height: 30px;
  margin-top: 8px;
}

/*SWITCH*/
#switch {
  position: relative;
  width: 64px;
  margin: 4px auto;
  padding: 20px 10px;
}
#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border-radius: 50%;
  border: 0;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

  animation: slide2 0.2s forwards;
}

.light #switch button {
  animation: slide 0.2s forwards;
}

#switch button:hover {
  outline: 8px solid var(--highlight-color);
}

#switch span {
  display: block;
  width: 50px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

/* links */

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 50px 30px 39px;
}

ul li a {
  display: flex;
  justify-content: center;
  height: 40px;

  align-items: center;
  background: var(--surface-color);
  border: 2px solid black;
  border-radius: 12px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: 500;

  transition: background 0.4s;
}

ul li a:hover {
  background: var(--surface-color-hover);
  border: 2px solid var(--text-color);
}

#social-links {
  display: flex;
  gap: 10px;
  justify-content: center;
  font-size: 38px;
  padding: 70px 20px;
}
#social-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 40%;
}
#social-links a:hover {
  background: var(--highlight-color);
  transition: background 0.8s;
}

footer {
  padding: 70px 10px;
  text-align: center;
  font-size: 14px;
}

@media (min-width: 700px) {
  :root {
    --bg-url: url(./assets/bg-desktop.jpg);
  }
  .light {
    --bg-url: url(./assets/bg-desktop-light.jpg);
  }
}

@keyframes slide {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes slide2 {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}
